.home
  height: 100vh
  .navigation
    height: 100vh
    position: relative
  #front-page
    width: 100%
    height: auto
    bottom: 0
    position: absolute

  #contacts-link
    opacity: 0
  #Contact-us:hover
    #contacts-link
      opacity: 1

  #home-shop
    text
      display: none
