.is-style-right-80
  width: 80%
  margin-left: 20%

.is-style-left-80
  width: 80%

.is-style-right-60
  width: 60%
  margin-left: 30%

.is-style-left-60
  width: 60%
  margin-left: 10%

.is-style-left-50
  width: 50%

.is-style-right-50
  width: 50%
  margin-left: 50%


> *
  padding: 3em 2em
  box-sizing: border-box
  margin-top: -4em
  +breakpoint-max(767)
    margin-top: -2em
  +breakpoint-max(600)
    width: 100% !important
    margin-left: 0 !important
    margin-top: -2em
  &.wp-block-image
    margin-top: -5em
    +breakpoint-max(600)
      padding: 0 0 1em
      margin-top: -1em
      margin-bottom: 0
  &:first-child
    margin-top: 0

+breakpoint-max(767)
  .wp-block-media-text
    display: flex
    flex-direction: column
    padding: 0 0 1em
    margin-top: -1em
    margin-bottom: 0
    .wp-block-media-text__content
      padding: 0
  .wp-block-embed
    padding: 1em 0 0

