.logo-animation
  position: fixed
  top: 0
  right: 0
  color: white
  font-size: $logo-font-size
  line-height: $logo-line-height
  font-weight: 900
  .top-part
    position: absolute
    right: 0
  .right-part
    position: absolute
    transform: rotate(90deg)
    transform-origin: 0 0
    top: 165/240 * 1em