//FONT
@mixin font-light($fs: null, $lh: null){
  font-size: $fs;
  font-weight: $font-weight-light;
  line-height: $lh;
}

@mixin font-regular($fs: null, $lh: null){
  font-size: $fs;
  font-weight: $font-weight-regular;
  line-height: $lh;
}

@mixin font-medium($fs: null, $lh: null){
  font-size: $fs;
  font-weight: $font-weight-medium;
  line-height: $lh;
}

@mixin font-s-bold($fs: null, $lh: null){
  font-size: $fs;
  font-weight: $font-weight-semi-bold;
  line-height: $lh;
}

@mixin font-bold($fs: null, $lh: null){
  font-size: $fs;
  font-weight: $font-weight-bold;
  line-height: $lh;
}

@mixin box-sizing($bs: border-box){
  -moz-box-sizing: $bs;
  -webkit-box-sizing: $bs;
  box-sizing: $bs;
}

@mixin radius($radius: 3px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow($params){
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin fixed($t: null, $r: null, $b: null, $l: null){
  position: fixed;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin relative($t: null, $r: null, $b: null, $l: null){
  position: relative;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin absolute($t: null, $r: null, $b: null, $l: null){
  position: absolute;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin static($t: null, $r: null, $b: null, $l: null){
  position: static;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin indents($margin: null, $padding: $margin){
  margin: $margin;
  padding: $padding;
}

@mixin dimensions($width: null, $height: $width){
  width: $width;
  height: $height;
}

@mixin centerBlock($number: 0){
  //Default value: 0 auto
  margin: $number auto;
}

@mixin alignPosition($float: null, $margin: null){
  float: $float;
  margin: $margin;
}

//TEXT POSITION
@mixin left(){
  text-align: left;
}

@mixin center(){
  text-align: center;
}

@mixin right(){
  text-align: right;
}

@mixin justify(){
  text-align: justify;
}

@mixin inherit(){
  text-align: inherit;
}

@mixin top(){
  vertical-align: top;
}

@mixin middle(){
  vertical-align: middle;
}

@mixin bottom(){
  vertical-align: bottom;
}

@mixin baseline(){
  vertical-align: baseline;
}

@mixin initial(){
  vertical-align: initial;
}

//TRANSITION
@mixin ease-transition($time, $e: ease){
  -webkit-transition: all $time $e;
  -moz-transition: all $time $e;
  -o-transition: all $time $e;
  transition: all $time $e;
}

@mixin linear-transition($time){
  -webkit-transition: all $time linear;
  -moz-transition: all $time linear;
  -o-transition: all $time linear;
  transition: all $time linear;
}

@mixin duration($time){
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;
}

@mixin delay($time){
  -webkit-transition-delay: $time;
  -moz-transition-delay: $time;
  -o-transition-delay: $time;
  transition-delay: $time;
}

@mixin translate($tx){
  //If you need to add Y-value, add it in to more brackets separated by commas
  -webkit-transform: translate($tx);
  -moz-transform:    translate($tx);
  -ms-transform:     translate($tx);
  -o-transform:      translate($tx);
  transform:translate($tx);
}

@mixin translateY($ty){
  -webkit-transform: translateY($ty);
  -moz-transform:    translateY($ty);
  -ms-transform:     translateY($ty);
  -o-transform:      translateY($ty);
  transform:translateY($ty);
}

@mixin scale($tx){
  //If you need to add Y-value, add it in to more brackets separated by commas
  -webkit-transform: scale($tx);
  -moz-transform:    scale($tx);
  -ms-transform:     scale($tx);
  -o-transform:      scale($tx);
  transform:scale($tx);
}

@mixin scaleY($ty){
  -webkit-transform: scaleY($ty);
  -moz-transform:    scaleY($ty);
  -ms-transform:     scaleY($ty);
  -o-transform:      scaleY($ty);
  transform:scaleY($ty);
}

@mixin rotate($deg){
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin rotateY($deg){
  -moz-transform: rotateY($deg);
  -ms-transform: rotateY($deg);
  -webkit-transform: rotateY($deg);
  -o-transform: rotateY($deg);
  transform: rotateY($deg);
}

@mixin bg($time){
  -webkit-transition: background $time;
  -moz-transition: background $time;
  -o-transition: background $time;
  transition: background $time;
}

//BUTTONS
@mixin button($padding, $fs, $lh, $color, $bg){
  padding: $padding;
  @include font-medium($fs, $lh);
  color: $color;
  @include bc($bg);
}

@mixin hover-button($h-bg: null, $h-color: $btn-color-w){
  @include bc($h-bg);
  color: $h-color;
}

@mixin button-sm($bg-color){
  @include button(7px 15px, 13px, 15px, $btn-color-w, $bg-color);
}

@mixin button-bg($bg-color: null, $color: null){
  @include button(13px 30px, 15px, 1.3em, $color, $bg-color);
  @include center;
}

@mixin linear-gradient($lg, $vendor-lg, $color){
  //Add color and percentage value in to more brackets
  background-image: -webkit-linear-gradient($vendor-lg, $color);
  background-image:    -moz-linear-gradient($vendor-lg, $color);
  background-image:     -ms-linear-gradient($vendor-lg, $color);
  background-image:      -o-linear-gradient($vendor-lg, $color);
  background-image:         linear-gradient($lg, $color);
}

@mixin linearGradient($top, $bottom){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin border-img($wg, $vendor, $position){
  -webkit-border-image: -webkit-gradient($wg) $position;
  -webkit-border-image: -webkit-linear-gradient($vendor) $position;
  -o-border-image: -o-linear-gradient($vendor) $position;
  -moz-border-image: -moz-linear-gradient($vendor) $position;
}

@mixin flex($jc){
  display: flex;
  justify-content: $jc;
}

@mixin background ($br: no-repeat, $bs: null, $bp: null){
  background-repeat: $br;
  background-size: $bs;
  background-position: $bp;
}

@mixin bc($bc: $white){
  background-color: $bc;
}

@mixin min($resolution){
  @media only screen and (min-width: #{$resolution}px) {
    @content;
  }
}

@mixin max($resolution){
  @media only screen and (max-width: #{$resolution}px) {
    @content;
  }
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@import "font";